@use 'base/mixins' as m;
@use 'base/variables' as v;


.meeti{

 

    &__header{
        text-align: center;
    }

    &_grid{
        margin-top: 5rem;
        @include m.grid(1, 2rem);

        @include m.tablet{
            @include m.grid(3, 2rem);
        }   
    }

}

.about-meet{
    grid-column: 1/3;
}

.map{
    &__imagen{
       background-image: url(../img/mapa.jpg);
       width: 100%;
       height: 23rem;
       background-size: contain;
  

    }
    &__informacion{
        background-color: v.$secundario;
        text-align: center;
        padding: 2rem;
      
    }

    &__heading{
        color: v.$blanco;
        font-weight: 700;
        font-size: 3rem;
        margin: 0;
        
    
    }

    &__heading{
     
    }
    &__fecha,  &__hora,  &__lugar {
        color: v.$blanco;
        @include m.textSpan;
    }

}